---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Processes from "../components/Processes.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

const links = [
  { href: "#about", text: "Nosotros" },
  { href: "#services", text: "Servicios" },
  { href: "#testimonials", text: "Testimonios" },
  { href: "#process", text: "Proceso" },
  { href: "#faq", text: "Preguntas frecuentes" },
  { href: "#contact", text: "Contacto" },
];
---

<BaseLayout title="Axa - Estudio Aduanero">
  <Header links={links} />
  <main>
    <Hero />
    <About />
    <Services />
    <Testimonials />
    <Processes />
    <FAQ />
    <Contact />
    <WhatsAppButton />
  </main>
  <Footer />
</BaseLayout>