---

---

<section id="about" class="bg-background">
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
            <div class="mt-12 md:mt-0">
                <img
                    src="https://images.unsplash.com/photo-1531973576160-7125cd663d86"
                    alt="About Us Image"
                    class="object-cover rounded-lg shadow-md"
                />
            </div>
            <div class="max-w-lg">
                <!-- titulo -->
                <h2 class="text-3xl font-extrabold text-text sm:text-4xl">
                    Sobre Nosotros
                </h2>
                <!-- descripcion -->
                <p class="mt-4  text-lg text-text ">
                    Con más de 20 años de experiencia, en AXA brindamos
                    servicios aduaneros completos, asegurando que tu negocio
                    cumpla con todas las normativas internacionales.
                </p>
                <a href="#contact" class="mt-8 inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-text bg-accent hover:bg-primary-dark">
                    Contáctanos
                </a>
            </div>
        </div>
    </div>
</section>
