---
import { Image } from 'astro:assets';

import { about } from "../data/data.ts"
---

<section id="about" class="bg-background py-16">
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
            <div class="mt-12 md:mt-0">
                <Image 
                    src={about.image}
                    alt="About us"
                    width={600}
                    height={400}
                    class="object-cover rounded-lg shadow-md"
                    loading="eager"
                />
            </div>
            <div class="max-w-lg">
                <!-- titulo -->
                <h2 class="text-3xl font-extrabold text-text sm:text-4xl">
                    {about.title}
                </h2>
                <!-- descripcion -->
                <p class="mt-4  text-lg text-text ">
                    {about.description}
                </p>
                <!-- buttom -->
                <a href="#contact" class="mt-8 inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-text bg-accent hover:bg-primary-dark">
                    {about.button}
                   
                </a>
            </div>
        </div>
    </div>
</section>
