---
import HeaderSection from "./HeaderSection.astro"

const header = {
  title: "Preguntas Frecuentes",
  subtitle: "FAQ",
  description: "Encuentra respuestas a las preguntas más comunes sobre el proceso aduanero y cómo podemos ayudarte."
}
---

<section id="faq" class="py-4 bg-background">
    <div class="max-w-screen-md mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between">

        <div class="text-center">
            
            <HeaderSection {...header} />
        </div>

        <div class="mt-20">
            <ul class="">

                <!-- Pregunta 1 -->
                <li class="text-left mb-10">
                    <div class="flex flex-row items-start mb-5">
                        <div class="hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-primary text-text border-2 border-text text-xl font-semibold">
                            <svg width="30px" fill="white" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <g data-name="Layer 2">
                                    <g data-name="menu-arrow">
                                        <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect>
                                        <path d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"></path>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="bg-primary p-5 px-10 w-full flex items-center rounded-3xl">
                            <h4 class="text-md leading-6 font-medium text-text">¿Cuál es el proceso para realizar un despacho aduanero?</h4>
                        </div>
                    </div>

                    <div class="flex flex-row items-start">
                        <div class="bg-primary p-5 px-10 w-full flex items-center rounded-3xl">
                            <p class="text-text text-sm">
                                El proceso de despacho aduanero comienza con la clasificación de las mercancías, seguida de la documentación necesaria para cumplir con las normativas. Nuestro equipo de expertos se asegura de que todas las etapas se realicen sin problemas, minimizando cualquier posible inconveniente.
                            </p>
                        </div>
                        <div class="hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-primary text-text border-2 border-text text-xl font-semibold">
                            <!-- Icono personalizado o mantenido el diseño SVG -->
                            <svg height="25px" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12 22c5.521 0 10-4.479 10-10s-4.479-10-10-10-10 4.479-10 10 4.479 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8zm-.5 13h1v-6h-1v6zm0-8h1v-2h-1v2z"/>
                            </svg>
                        </div>
                    </div>
                </li>

                <!-- Pregunta 2 -->
                <li class="text-left mb-10">
                    <div class="flex flex-row items-start mb-5">
                        <div class="hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-primary text-text border-2 border-text text-xl font-semibold">
                            <svg width="30px" fill="white" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <g data-name="Layer 2">
                                    <g data-name="menu-arrow">
                                        <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect>
                                        <path d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"></path>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="bg-primary p-5 px-10 w-full flex items-center rounded-3xl">
                            <h4 class="text-md leading-6 font-medium text-text ">¿Cuánto tiempo toma el proceso de importación/exportación?</h4>
                        </div>
                    </div>

                    <div class="flex flex-row items-start">
                        <div class="bg-primary p-5 px-10 w-full flex items-center rounded-3xl">
                            <p class="text-text text-sm">
                                El tiempo de importación o exportación depende de factores como el tipo de mercancía y los requisitos del país de destino. Nuestro equipo agiliza el proceso para reducir el tiempo y garantizar que sus mercancías lleguen a tiempo.
                            </p>
                        </div>
                        <div class="hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-primary text-text border-2 border-text text-xl font-semibold">
                            <svg height="25px" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12 22c5.521 0 10-4.479 10-10s-4.479-10-10-10-10 4.479-10 10 4.479 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8zm-.5 13h1v-6h-1v6zm0-8h1v-2h-1v2z"/>
                            </svg>
                        </div>
                    </div>
                </li>

                <!-- Agregar más preguntas según sea necesario -->

            </ul>
        </div>
    </div>
</section>
