---
import HeaderSection from "../shared/HeaderSection.astro";

import Question from "./question.astro";

import { headerFAQ, question } from "../data/data.ts";
---
<section id="faq" class="relative overflow-hidden pt-32 flex items-center justify-center">
  <div class="container py-4 mx-auto px-4 sm:px-6 lg:px-8">
      <HeaderSection {...headerFAQ} />
    
      <div class="max-w-[50%] py-4 px-4 mx-auto">
       {
         question.map((question) => (     
             <Question {...question} />
         ))        
       }
      </div>
    
  </div>
</section>