---
interface Props {
  subtitle: string;
  title: string;
  description: string;
}

const { subtitle, title, description } = Astro.props;
---

<div class="bg-pink-300 mx-auto px-2 py-2 my-2 max-w-[50%] text-center">
  <span class="bg-slate-400 text-primary my-2 block text-lg font-semibold">
    {subtitle}
  </span>
  <h2 class="bg-green-400 px-2 py-2 text-text my-2 text-[2em] font-bold">
    {title}
  </h2>
  <p class="bg-blue-400 px-2 py-2 text-text text-[1em]">
    {description}
  </p>
</div>
