---

interface Link {
    href: string;
    text: string;
}

const { links = [] }: { links?: Link[] } = Astro.props;
---
<header class="sticky top-0 w-full z-10 py-4 pt-8">
    <div class="container mx-auto flex flex-wrap justify-between items-center bg-primary rounded-lg shadow-lg p-4 sm:px-6 sm:py-3">
        <!-- Logo / Título -->
         <a href="#top">
            <h1 class="text-xl sm:text-2xl font-bold text-text">AXACOMEX</h1>
         </a>
        <!-- Botón para menú hamburguesa en dispositivos móviles -->
        <div class="block sm:hidden">
            <button id="menu-toggle" class="text-text focus:outline-none">
                <!-- Icono de hamburguesa -->
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
        <!-- Navegación -->
        <nav 
            id="mobile-menu" class="absolute left-0 top-full -mt-6 w-full max-h-0 overflow-hidden bg-primary rounded-b-lg transition-all duration-300 ease-in-out sm:static sm:flex sm:max-h-none sm:w-auto sm:opacity-100 sm:scale-100 sm:overflow-visible sm:mt-0 sm:min-h-[40px]"
        >
            <ul class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 w-full pt-6 pb-6 sm:pb-0 sm:pt-0 sm:w-auto sm:h-[40px]">
                {links.map((link) => (
                    <li>
                        <a href={link.href} class=" px-4 py-1 inline-flex text-text hover:text-accent transition duration-200 sm:px-3 sm:py-2">
                            {link.text}
                        </a>
                    </li>
                ))}
            </ul>
        </nav>     
    </div>
</header>

<script>
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    if (menuToggle && mobileMenu) {
        menuToggle.addEventListener("click", () => {
            const isOpen = menuToggle.getAttribute("aria-expanded") === "true"; 
            menuToggle.setAttribute("aria-expanded", !isOpen ? "true" : "false"); 

            if (isOpen) {
                mobileMenu.style.maxHeight = `${mobileMenu.scrollHeight}px`; 
                setTimeout(() => {
                    mobileMenu.style.maxHeight = "0";
                }, 10); 
            } else {
                mobileMenu.style.maxHeight = `${mobileMenu.scrollHeight}px`; 
                setTimeout(() => {
                    mobileMenu.style.maxHeight = "none"; 
                }, 500); 
            }
        });

        const navLinks = document.querySelectorAll("nav a");
        navLinks.forEach(link => {
            link.addEventListener("click", () => {
                menuToggle.setAttribute("aria-expanded", "false");
                mobileMenu.style.maxHeight = "0"; 
            });
        });
    }
</script>

