---
interface Props {
    title: string;
    description: string;
    number: string;
}

const { title, description, number } = Astro.props;
---

<div>
    <div
        class="flex items-center justify-center w-16 h-16 mx-auto bg-primary border-2 border-accent rounded-full shadow"
    >
        <span class="text-xl font-semibold text-text">{number}</span>
    </div>
    <h3 class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-text">
        {title}
    </h3>
    <p class="mt-3 sm:mt-4 text-base text-text">
        {description}
    </p>
</div>
