---
import Service from "./service.astro";
import HeaderSection from "./HeaderSection.astro";

const header = {
  title: "Servicios que ofrecemos",
  subtitle: "Nuestros Servicios",
  description:
    "Ofrecemos una amplia gama de servicios de comercio exterior para satisfacer las necesidades de nuestros clientes.",
};

const services = [
  {
    title: "Despacho Aduanero",
    description:
      "Nos ocupamos de todos los aspectos del despacho aduanero, asegurando  que sus mercanc铆as cumplan con la normativa vigente y lleguen a destino sin retrasos ni inconvenientes.",
    icon: "",
  },
  {
    title: "Asesoramiento en Comercio Exterior",
    description:
      "Ofrecemos un asesoramiento integral en comercio exterior para optimizar sus procesos de importaci贸n y exportaci贸n, maximizando la eficiencia y reduciendo los costos operativos.",
    icon: "",
  },
  {
    title: "Gesti贸n de Documentaci贸n",
    description:
      "Administramos y gestionamos toda la documentaci贸n necesaria, facilitando un proceso r谩pido y cumpliendo con los requisitos legales para importaciones y exportaciones.",
    icon: "",
  },
];
---

<section  id="testimonials" class="relative overflow-hidden p-4 flex items-center justify-center bg-slate-400">
  <div class="container bg-white py-4 mx-auto px-4 sm:px-6 lg:px-8">
    <HeaderSection {...header}/>
    <ul class="bg-pink-200 py-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3" >
      {
        services.map((service) => (
          <li>
            <Service {...service} />
          </li>
        ))
      }
    </ul>
  </div>
</section>
