---
import Service from "./service.astro";

import HeaderSection from "../shared/HeaderSection.astro";

import { headerServices,services } from "../data/data.ts";
---

<section id="services" class=" pt-32 relative overflow-hidden flex items-center justify-center"
>
  <div class="container py-4 mx-auto px-4 sm:px-6 lg:px-8">
    <HeaderSection {...headerServices} />
    <div class="py-4 px-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 justify-items-center">
      
      {services.map(service => (
        <Service {...service} />
      ))}

    </div>
  </div>
</section>
