---

---

<section
  id="testimonials"
  aria-label="Lo que dicen nuestros clientes"
  class="bg-background py-20 sm:py-32"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl md:text-center">
      <h2 class="font-display text-4xl font-bold tracking-tight text-text">
        Lo que dicen nuestros clientes
      </h2>
    </div>
    <ul
      role="list"
      class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-3"
    >
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure
              class="relative rounded-2xl bg-primary p-6 shadow-xl shadow-slate-900/10"
            >
              <blockquote class="relative">
                <p class="text-lg tracking-tight text-text">
                  Estoy muy contento con el servicio y los productos. La calidad
                  es excelente y el precio inmejorable.
                </p>
              </blockquote>
              <figcaption
                class="relative mt-6 flex items-center justify-between border-t border-text pt-6"
              >
                <div>
                  <div class="font-display text-base text-text">
                    Carlos Sánchez
                  </div>
                  <div class="text-sm text-text">Empresario</div>
                </div>
                <div class="overflow-hidden rounded-full bg-text">
                  <img
                    alt="Foto de Carlos Sánchez"
                    class="h-14 w-14 object-cover"
                    src="https://randomuser.me/api/portraits/men/1.jpg"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure
              class="relative rounded-2xl bg-primary p-6 shadow-xl shadow-slate-900/10"
            >
              <blockquote class="relative">
                <p class="text-lg tracking-tight text-text">
                  El equipo de esta estudio es muy profesional. Recomiendo sus
                  servicios al 100%.
                </p>
              </blockquote>
              <figcaption
                class="relative mt-6 flex items-center justify-between border-t border-text pt-6"
              >
                <div>
                  <div class="font-display text-base text-text">
                    María Gómez
                  </div>
                  <div class="text-sm text-text">Deportista</div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt="Foto de María Gómez"
                    class="h-14 w-14 object-cover"
                    src="https://randomuser.me/api/portraits/women/2.jpg"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure
              class="relative rounded-2xl bg-primary p-6 shadow-xl shadow-slate-900/10"
            >
              <blockquote class="relative">
                <p class="text-lg tracking-tight text-text">
                  El servicio al cliente es fantástico, y los productos son
                  justo lo que buscaba para mi entrenamiento.
                </p>
              </blockquote>
              <figcaption
                class="relative mt-6 flex items-center justify-between border-t border-text pt-6"
              >
                <div>
                  <div class="font-display text-base text-text">
                    Luis Fernández
                  </div>
                  <div class="text-sm text-text">Entrenador personal</div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img
                    alt="Foto de Luis Fernández"
                    class="h-14 w-14 object-cover"
                    src="https://randomuser.me/api/portraits/men/3.jpg"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
